<center>
<h1><%= "Discount #{@discount.name} Show Page" %></h1>
<center>

<center>
<section id= "attributes">
  <p>Threshold: <%= @discount.threshold %><p>
  <p>Percentage: <%= @discount.percentage %><p>
</section>
</center>