<center>
<h1><%= "Discount #{@discount.name} Show Page" %></h1>

<section id= "attributes">
  <p>Quantity Threshold: <%= @discount.threshold %><p>
  <p>Percentage: <%= @discount.percentage %><p>
</section>

<section id= "edit">
  <%= link_to "Edit #{@discount.name}", edit_merchant_discount_path(@merchant, @discount) %>
</section>
</center>